cluster {
	/*
	 * name: the server to share with; this can take wildcards
	 *
	 * NOTE: only local actions will be clustered, meaning that if
	 *       the server receives a shared kline/unkline/etc, it
	 *       will not be propagated to clustered servers.
	 *
	 *       Remote servers are not necessarily required to accept
	 *       clustered lines, they need a shared {} block for *THIS*
	 *       server in order to accept them.
	 */
#	name = "*.example.net";

	/*
	 * type: list of what to share; options are as follows:
	 *      dline   - share dlines
	 *      undline - share undlines
	 *      kline   - share klines
	 *      unkline - share unklines
	 *      xline   - share xlines
	 *      unxline - share unxlines
	 *      resv    - share resvs
	 *      unresv  - share unresvs
	 *      locops  - share locops
	 *      all     - share all of the above (default)
	 */
#	type = kline, unkline, locops, xline, resv;
};