modules {
	/*
	 * path: other paths to search for modules specified below
	 * and in "/module load".
	 */
	path = "lib/ircd-hybrid/modules";
#	path = "lib/ircd-hybrid/modules/extra";
	path = "lib/ircd-hybrid/modules/autoload";

	/* module: the name of a module to load on startup/rehash. */
#	module = "some_module.la";
};