motd {
	/*
	 * mask: multiple mask entries are permitted. Mask can either be
	 * a class name or a hostname. CIDR is supported.
	 */
	mask = "*.at";
	mask = "*.de";
	mask = "*.ch";

	/*
	 * file: path to the motd file.
	 */
	file = "etc/german.motd";
};