pseudo {
	/* command: the actual command/alias. */
	command = "IDENTIFY";

	/* prepend: optional text that can be prepended to the user's message. */
	prepend = "IDENTIFY ";

	/* name: the service name, used for error messages. */
	name = "NickServ";

	/* target: the actual target where this message should be sent to. */
	target = "NickServ@service.example.net";
};

pseudo {
	command = "CHANSERV";
	name = "ChanServ";
	target = "ChanServ@service.example.net";
};

pseudo {
	command = "CS";
	name = "ChanServ";
	target = "ChanServ@service.example.net";
};

pseudo {
	command = "NICKSERV";
	name = "NickServ";
	target = "NickServ@service.example.net";
};

pseudo {
	command = "NS";
	name = "NickServ";
	target = "NickServ@service.example.net";
};

pseudo {
	command = "MEMOSERV";
	name = "MemoServ";
	target = "MemoServ@service.example.net";
};

pseudo {
	command = "MS";
	name = "MemoServ";
	target = "MemoServ@service.example.net";
};

pseudo {
	command = "OPERSERV";
	name = "OperServ";
	target = "OperServ@service.example.net";
};

pseudo {
	command = "OS";
	name = "OperServ";
	target = "OperServ@service.example.net";
};

pseudo {
	command = "HOSTSERV";
	name = "HostServ";
	target = "HostServ@service.example.net";
};

pseudo {
	command = "HS";
	name = "HostServ";
	target = "HostServ@service.example.net";
};

pseudo {
	command = "BOTSERV";
	name = "BotServ";
	target = "BotServ@service.example.net";
};

pseudo {
	command = "BS";
	name = "BotServ";
	target = "BotServ@service.example.net";
};